<!DOCTYPE html>
<html>
  <head>
    <title>HSESneakerShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Sneakers', sneakers_url %>
      <%= link_to 'Brands',   brands_url %>
    </nav>
    <%= yield %>
  </body>
</html>
